<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dynarm" >

  <xacro:arg name="robot_name" default="dynarm" />

  <!-- robot urdf -->
  <xacro:include filename="$(find dynarm)/robots/v3/dynarm.urdf.xacro" />

  <!-- gazebo plugin for default controller and sensors -->
  <xacro:include filename="$(find aerial_robot_simulation)/xacro/spinal.gazebo.xacro" />
  <xacro:gazebo_spinal robot_name="$(arg robot_name)" mag_frame="fc" />

  <!-- transmission -->
  <xacro:joint_transmission joint="joint1"/>
  <xacro:joint_transmission joint="joint2"/>
  <xacro:joint_transmission joint="joint3"/>

  <xacro:joint_transmission joint="gimbal1_roll"/>
  <xacro:joint_transmission joint="gimbal1_pitch"/>
  <xacro:joint_transmission joint="gimbal2_roll"/>
  <xacro:joint_transmission joint="gimbal2_pitch"/>

  <xacro:rotor_transmission id="1"/>
  <xacro:rotor_transmission id="2"/>

  <!-- friction -->
  <xacro:gazebo_friction link="link1"/>
  <xacro:gazebo_friction link="link2"/>
  <xacro:gazebo_friction link="link3"/>

</robot>
