<?xml version="1.0"?>
<launch>
  <arg name="real_machine" default="false" />
  <arg name="simulation" default="false" />
  <arg name="robot_ns" default=""/>

  <group ns="$(arg robot_ns)">

    <group if="$(arg real_machine)">
      <group unless="$(arg simulation)">

        <!-- spinal -->
        <include file="$(find spinal)/launch/bridge.launch" >
          <arg name="mode" value="serial" />
          <arg name="serial_port" value="/dev/flight_controller" />
          <arg name="serial_baud" value="921600" />
        </include>

        <!-- dummy mocap -->
        <node pkg="dynarm" type="dummy_mocap_pub.py" name="dummy_mocap_pub" output="screen"/>

        <!-- mocap for additional frames -->
        <!-- root frame -->
        <group ns="root">
          <include file="$(find aerial_robot_base)/launch/external_module/mocap.launch" >
            <arg name="robot_id" value="1"/>
          </include>
        </group>

        <!-- end effector -->
        <node pkg="dynarm" type="mocap_transformer.py" name="mocap_transformer_ee" output="screen">
          <param name="frame_name" value="end_effector"/>
        </node>
        <group ns="end_effector">
          <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
            <arg name="time" value="2"/>
            <arg name="pkg" value="aerial_robot_base"/>
            <arg name="file" value="mocap.launch"/>
            <arg name="value" value="robot_id:=2"/>
          </include>
        </group>

        <!-- link1 -->
        <node pkg="dynarm" type="mocap_transformer.py" name="mocap_transformer_link1" output="screen">
          <param name="frame_name" value="link1_mocap"/>
        </node>
        <group ns="link1_mocap">
          <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
            <arg name="time" value="4"/>
            <arg name="pkg" value="aerial_robot_base"/>
            <arg name="file" value="mocap.launch"/>
            <arg name="value" value="robot_id:=3"/>
          </include>
        </group>

        <!-- link2 -->
        <node pkg="dynarm" type="mocap_transformer.py" name="mocap_transformer_link2" output="screen">
          <param name="frame_name" value="link2_mocap"/>
        </node>
        <group ns="link2_mocap">
          <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
            <arg name="time" value="6"/>
            <arg name="pkg" value="aerial_robot_base"/>
            <arg name="file" value="mocap.launch"/>
            <arg name="value" value="robot_id:=4"/>
          </include>
        </group>

        <!-- <!-\- link3 -\-> -->
        <!-- <node pkg="dynarm" type="mocap_transformer.py" name="mocap_transformer_link3" output="screen"> -->
        <!--   <param name="frame_name" value="link3_mocap"/> -->
        <!-- </node> -->
        <!-- <group ns="link3_mocap"> -->
        <!--   <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch"> -->
        <!--     <arg name="time" value="8"/> -->
        <!--     <arg name="pkg" value="aerial_robot_base"/> -->
        <!--     <arg name="file" value="mocap.launch"/> -->
        <!--     <arg name="value" value="robot_id:=5"/> -->
        <!--   </include> -->
        <!-- </group> -->

      </group>
    </group>

    <rosparam file="$(find aerial_robot_base)/config/sensors/imu/spinal.yaml" command="load" />
    <rosparam file="$(find aerial_robot_base)/config/sensors/mocap.yaml" command="load" />

  </group>

</launch>
