<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dynarm" >

  <xacro:include filename="$(find dynarm)/urdf/v1/common.xacro" />
  <xacro:include filename="$(find dynarm)/urdf/v1/dynarm_all.xacro" />
  <xacro:include filename="$(find dynarm)/urdf/v1/gazebo.xacro" />

  <!-- root joint -->
  <link name="root">
    <xacro:virtual_inertial/>
  </link>
  <joint name="root_joint" type="fixed">
    <parent link="root"/>
    <child link="link0_roll"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- set the fcu frame -->
  <link name="fc">
    <xacro:virtual_inertial/>
  </link>
  <joint name="fc_joint" type="fixed">
    <child link="fc"/>
    <parent link="link0_roll"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- end effector link -->
  <joint name="end_effector_joint" type="fixed">
    <parent link="link3"/>
    <child link="link3_tip"/>
    <origin xyz="0.5 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="link3_tip">
    <xacro:virtual_inertial/>
  </link>

  <!-- link support metal sheet -->
  <link name="link1_center">
    <xacro:virtual_inertial/>
  </link>
  <joint name="link1_center_joint" type="fixed">
    <child link="link1_center"/>
    <parent link="link1"/>
    <origin xyz="0.2925 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="link1_support">
    <inertial>
      <origin xyz="0 0 0.11653150"/>
      <mass value="0.28997581"/>
      <inertia
          ixx="0.00157585" ixy="0.0" ixz="0.0"
          iyy="0.00773925" iyz="-0.00000013"
          izz=" 0.00628956"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dynarm/meshes/v1/link_support_bridge_module.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
  </link>
  <joint name="link1_support_joint" type="fixed">
    <child link="link1_support"/>
    <parent link="link1_center"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="link2_center">
    <xacro:virtual_inertial/>
  </link>
  <joint name="link2_center_joint" type="fixed">
    <child link="link2_center"/>
    <parent link="link2"/>
    <origin xyz="0.2405 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>


  <link name="link2_support">
    <inertial>
      <origin xyz="0 0 0.11653150"/>
      <mass value="0.28997581"/>
      <inertia
          ixx="0.00157585" ixy="0.0" ixz="0.0"
          iyy="0.00773925" iyz="-0.00000013"
          izz=" 0.00628956"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dynarm/meshes/v1/link_support_bridge_module.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
  </link>
  <joint name="link2_support_joint" type="fixed">
    <child link="link2_support"/>
    <parent link="link2_center"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>

</robot>
