<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="headless" default="True" />
  <arg name="version" default="v1"/>
  <arg name="root_fix" default="True"/>
  <arg name="full_vectoring_mode" default="False"/>

  <arg name="estimate_mode" default="1"/>
  <arg name="sim_estimate_mode" default="2"/>
  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="1.5"/>
  <arg name="spawn_yaw" default="0.0"/>
  <arg name="robot_ns" value="dynarm" />

  ###########  UAV Config  ###########
  <group ns="$(arg robot_ns)">

    ###########  Basic Param  ###########
    <param name="estimation/mode" value= "$(arg sim_estimate_mode)" if="$(arg simulation)" />
    <param name="estimation/mode" value= "$(arg estimate_mode)" if="$(arg real_machine)"/>

    ###########  Motor Config  ###########
    <rosparam file="$(find dynarm)/config/$(arg version)/MotorInfo.yaml" command="load" />

    ###########  Servo Config  ###########
    <rosparam file="$(find dynarm)/config/$(arg version)/Servo.yaml" command="load" if="$(eval arg('simulation') and not arg('real_machine'))"/>
    <rosparam file="$(find dynarm)/config/$(arg version)/Dynamixel.yaml" command="load" if="$(eval not arg('simulation') and arg('real_machine'))"/>

    ###########  Battery Config  ###########
    <rosparam file="$(find dynarm)/config/$(arg version)/Battery.yaml" command="load" />

    ###########  Sensor Fusion  ###########
    <rosparam file="$(find dynarm)/config/StateEstimation.yaml" command="load"/>
    <rosparam file="$(find dynarm)/config/$(arg version)/SimulationFixed.yaml" command="load" if="$(eval arg('simulation') and not arg('real_machine') and arg('root_fix'))"/>
    <rosparam file="$(find dynarm)/config/$(arg version)/SimulationFloating.yaml" command="load" if="$(eval arg('simulation') and not arg('real_machine') and not arg('root_fix'))"/>

    ###########  Navigation  ###########
    <rosparam file="$(find dynarm)/config/$(arg version)/NavigationConfig.yaml" command="load"/>

    ###########  Control  ###########
    <rosparam file="$(find dynarm)/config/$(arg version)/ManipulatorControl.yaml" command="load" if="$(eval arg('root_fix'))"/>
    <rosparam file="$(find dynarm)/config/$(arg version)/ManipulatorModel.yaml" command="load" if="$(eval arg('root_fix'))"/>

    <group if="$(arg full_vectoring_mode)">
      <param name="flight_navigation_plugin_name" value="aerial_robot_navigation/full_vectoring_navigation" />
      <rosparam file="$(find dynarm)/config/$(arg version)/FullVectoringControlConfig.yaml" command="load"/>
      <rosparam file="$(find dynarm)/config/$(arg version)/FullVectoringRobotModel.yaml" command="load"/>
    </group>
    <group unless="$(arg full_vectoring_mode)">
      <rosparam file="$(find dynarm)/config/$(arg version)/FullbodyFlightControl.yaml" command="load" if="$(eval not arg('root_fix'))"/>
      <rosparam file="$(find dynarm)/config/$(arg version)/FullbodyFlightModel.yaml" command="load" if="$(eval not arg('root_fix'))"/>
    </group>

    ###########  robot description for pinocchio ###########
    <node name="pinocchio_robot_description_generator" pkg="dynarm" type="pinocchio_robot_description_generator.py" output="screen"/>

  </group>

  ########### Desired robot state ###########
  <group ns="$(arg robot_ns)_desired">
    <group if="$(arg root_fix)">
      <param name="robot_description" command="$(find xacro)/xacro $(find dynarm)/robots/$(arg version)/dynarm.urdf.xacro" />
      <node name="desired_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" value="$(arg robot_ns)_desired" />
        <remap from="joint_states" to="/$(arg robot_ns)/debug/target_q"/>
      </node>
      <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_desired"
            args="0 0 $(arg spawn_z) 0 0 0 world $(arg robot_ns)_desired/root" />
      <node pkg="aerial_robot_model" type="rotor_tf_publisher" name="desired_rotor_tf_publisher">
        <param name="tf_prefix" value="$(arg robot_ns)_desired"/>
      </node>
    </group>
  </group>

  ###########  Base Platform  ###########
  <node pkg="aerial_robot_base" type="aerial_robot_base_node" name="aerial_robot_base_node" ns="$(arg robot_ns)" output="screen">
    <param name="tf_prefix" value="$(arg robot_ns)"/>
    <param name="param_verbose" value="false"/>
    <param name="main_rate" value="100"/>
  </node>

  ###########  Robot Model  ###########
  <arg name="description_mode" value="urdf" unless="$(arg simulation)" />
  <arg name="description_mode" value="gazebo" if="$(arg simulation)" />
  <include file="$(find aerial_robot_model)/launch/aerial_robot_model.launch" >
    <arg name="headless" value="$(arg headless)" />
    <arg name="robot_model" value="$(find dynarm)/robots/$(arg version)/dynarm.$(arg description_mode).xacro"/>
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="rviz_config" value="$(find dynarm)/config/$(arg version)/rviz_config" />
    <arg name="rviz_init_pose" value="$(find dynarm)/config/$(arg version)/RvizInit.yaml" />
    <arg name="need_joint_state" value="false" if ="$(eval arg('simulation') or arg('real_machine'))"/>
  </include >

  ###########  Sensors  ###########
  <include file="$(find dynarm)/launch/includes/sensors.launch" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="robot_ns" value="$(arg robot_ns)" />
  </include>

  ###########  Actuators  ###########
  <include file="$(find dynarm)/launch/includes/robstride.launch">
    <arg name="version" value="$(arg version)"/>
  </include>

  ###########  Servo Bridge  ###########
  <node pkg="aerial_robot_model" type="servo_bridge_node" name="servo_bridge"  output="screen" ns="$(arg robot_ns)"/>

  ########### Fix root link to world ###########
  <group unless="$(arg real_machine)">
    <group if="$(arg simulation)">
      <node pkg="dynarm" type="root_fix.py" name="root_fix_node">
        <param name="root_fix" value="$(arg root_fix)"/>
      </node>
    </group>
  </group>

  ########## Simulation in Gazebo #########
  <include file="$(find aerial_robot_simulation)/launch/gazebo.launch" if = "$(eval arg('simulation') and not arg('real_machine'))" >
    <arg name="robot_ns" default="$(arg robot_ns)" />
    <arg name="gui" default="false" if="$(arg headless)" />
    <arg name="headless" default="$(arg headless)" />
    <arg name="spawn_x" value="$(arg spawn_x)" />
    <arg name="spawn_y" value="$(arg spawn_y)" />
    <arg name="spawn_z" value="$(arg spawn_z)" />
    <arg name="spawn_yaw" value="$(arg spawn_yaw)" />
  </include>

  ########## Visualization of logging #########
  <node pkg="jsk_rviz_plugins" type="rosconsole_overlay_text.py" name="rosconsole_overlay_text"/>

</launch>
