<?xml version="1.0"?>
<launch>
  <arg name="version" default="v2"/>
  <arg name="robot_ns" default="dynarm"/>
  <arg name="headless" default="true"/>

  <group ns="$(arg robot_ns)">
    <node pkg="dynarm" type="ddp_hovering_problem_test" name="ddp_hovering_problem_test" output="screen">
      <param name="num_threads" value="4"/>
      <param name="horizon" value="1.0"/>
      <param name="dt" value="0.05"/>
      <param name="fwddyn" value="false"/>
      <param name="max_iter" value="1000"/>
      <param name="add_noise" value="true"/>

      <!-- weights of cost for running model  -->
      <param name="state_weight" value="1"/>
      <param name="state_bound_weight" value="100"/>
      <param name="control_weight" value="0.1"/>

      <rosparam command="load" file="$(find dynarm)/config/$(arg version)/DDP_$(arg robot_ns).yaml"/>

    </node>

    <!-- visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dynarm)/config/$(arg version)/rviz_config" unless="$(arg headless)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg robot_ns)" />
    </node>
    <node pkg="aerial_robot_model" type="rotor_tf_publisher" name="desired_rotor_tf_publisher">
      <param name="tf_prefix" value="$(arg robot_ns)"/>
    </node>

    <!-- pinocchio robot model generator -->
    <node name="pinocchio_robot_description_generator" pkg="dynarm" type="pinocchio_robot_description_generator.py" output="screen"/>

  </group>

</launch>
