<?xml version="1.0"?>
<launch>
  <arg name="demo" default=""/>
  <arg name="mode" default="0"/>

  <node pkg="rosbag" type="record" name="rosbag_record" args="-a -o /home/$(env USER)/.ros/dynarm_$(arg demo)_mode$(arg mode)" output="screen"/>

  <node pkg="dynarm" type="$(arg demo).py" name="$(arg demo)" output="screen" ns="dynarm">
    <param name="mode" value="$(arg mode)"/>
  </node>

</launch>
