<launch>
  <arg name="robot_id" default="" />
  <arg name="version" default="v1"/>
  <arg name="color" default="false"/>
  <arg name="robot_ns" value="dynarm$(arg robot_id)" />

  <group ns="$(arg robot_ns)">
    <group if="$(arg color)">
      <param name="robot_description" textfile="$(find dynarm)/urdf/$(arg version)/dynarm_color.urdf" />
    </group>
    <group unless="$(arg color)">
      <param name="robot_description" command="$(find xacro)/xacro $(find dynarm)/robots/$(arg version)/dynarm.urdf.xacro" />
    </group>

    <node name="pinocchio_robot_description_generator" pkg="aerial_robot_dynamics" type="pinocchio_robot_description_generator.py" output="screen"/>

  </group>

</launch>
