<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dynarm_common" >

  <m_f_rate value="-0.0151" /> <!-- drug torque rate -->
  <baselink name="fc" />
  <thrust_link name="thrust" />

  <!-- macro of virtual inertial -->
  <xacro:macro name="virtual_inertial" params="x:=0 y:=0 z:=0">
    <inertial>
      <origin xyz="${x} ${y} ${z}"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </xacro:macro>

  <!-- macro of virtual link -->
  <xacro:macro name="virtual_link" params="parent child xyz:='0 0 0' rpy:='0 0 0'">
    <link name="child"/>
    <joint name="${parent}_2_${child}" type="fixed">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

  <!-- transmission -->
  <xacro:macro name="joint_transmission" params="joint">
    <transmission name="${joint}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint}_servo">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="rotor_transmission" params="id">
    <transmission name="rotor${id}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="rotor${id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
