<?xml version='1.0' encoding='UTF-8'?>
<robot name="dynarm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link">
    <inertial>
      <origin xyz="0.02670275 0.00180026 0.00000000" rpy="0 0 0"/>
      <mass value="0.45218521"/>
      <inertia ixx="0.00035567" ixy="-0.00000519" ixz="-0.00000005" iyy="0.00023609" iyz="0.00000000" izz="0.00038211"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/base_link.stl"/>
      </geometry>
      <material name="__unnamed_material_1"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="0.35205652 -0.00007679 0.02097532" rpy="0 0 0"/>
      <mass value="1.36722322"/>
      <inertia ixx="0.01379981" ixy="0.00032493" ixz="-0.00158041" iyy="0.05561425" iyz="-0.00001203" izz="0.05909683"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/link1.stl"/>
      </geometry>
      <material name="__unnamed_material_2"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="gimbal1_roll_link">
    <inertial>
      <origin xyz="-0.01041514 -0.03581395 0.00000195" rpy="0 0 0"/>
      <mass value="0.31718547"/>
      <inertia ixx="0.00322436" ixy="-0.00001817" ixz="0.00000000" iyy="0.00357664" iyz="-0.00000008" izz="0.00671390"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/gimbal1_roll_link.stl"/>
      </geometry>
      <material name="__unnamed_material_3"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="gimbal1_pitch_link">
    <inertial>
      <origin xyz="-0.00008734 -0.00066322 0.00149887" rpy="0 0 0"/>
      <mass value="0.42303791"/>
      <inertia ixx="0.00176884" ixy="-0.00000081" ixz="0.00000078" iyy="0.00088469" iyz="-0.00000058" izz="0.00236242"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/gimbal1_pitch_link.stl"/>
      </geometry>
      <material name="__unnamed_material_4"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="thrust1">
    <xacro:virtual_inertial/>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/thrust1.stl"/>
      </geometry>
      <material name="__unnamed_material_5"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="link2">
    <inertial>
      <origin xyz="0.35205652 -0.00007679 0.02097532" rpy="0 0 0"/>
      <mass value="1.36722322"/>
      <inertia ixx="0.01379981" ixy="0.00032493" ixz="-0.00158041" iyy="0.05561425" iyz="-0.00001203" izz="0.05909683"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/link2.stl"/>
      </geometry>
      <material name="__unnamed_material_6"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="gimbal2_roll_link">
    <inertial>
      <origin xyz="-0.01041514 -0.03581395 0.00000195" rpy="0 0 0"/>
      <mass value="0.31718547"/>
      <inertia ixx="0.00322436" ixy="-0.00001817" ixz="0.00000000" iyy="0.00357664" iyz="-0.00000008" izz="0.00671390"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/gimbal2_roll_link.stl"/>
      </geometry>
      <material name="__unnamed_material_7"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="gimbal2_pitch_link">
    <inertial>
      <origin xyz="-0.00008734 -0.00066322 0.00149887" rpy="0 0 0"/>
      <mass value="0.42303791"/>
      <inertia ixx="0.00176884" ixy="-0.00000081" ixz="0.00000078" iyy="0.00088469" iyz="-0.00000058" izz="0.00236242"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/gimbal2_pitch_link.stl"/>
      </geometry>
      <material name="__unnamed_material_8"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="thrust2">
    <xacro:virtual_inertial/>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/thrust2.stl"/>
      </geometry>
      <material name="__unnamed_material_9"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="link3">
    <inertial>
      <origin xyz="0.05896281 -0.00153878 0.00000000" rpy="0 0 0"/>
      <mass value="0.10242647"/>
      <inertia ixx="0.00004853" ixy="0.00001138" ixz="0.00000000" iyy="0.00033848" iyz="0.00000000" izz="0.00036698"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dynarm/meshes/v3/link3.stl"/>
      </geometry>
      <material name="__unnamed_material_10"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <joint name="joint1" type="revolute">
    <limit effort="12.0" velocity="10.0" lower="-1.57" upper="1.57"/>
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="0.032 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.9" friction="0.7"/>
  </joint>
  <joint name="gimbal1_roll" type="revolute">
    <limit effort="3.0" velocity="6.0" lower="-2.0" upper="2.0"/>
    <parent link="link1"/>
    <child link="gimbal1_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.2885 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>
  <joint name="gimbal1_pitch" type="revolute">
    <limit effort="3.0" velocity="6.0" lower="-2.0" upper="2.0"/>
    <parent link="gimbal1_roll_link"/>
    <child link="gimbal1_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>
  <joint name="rotor1" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="0.0" upper="40.0"/>
    <parent link="gimbal1_pitch_link"/>
    <child link="thrust1"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.0 0.0 0.026" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint2" type="revolute">
    <limit effort="12.0" velocity="10.0" lower="-1.57" upper="1.57"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="0.577 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.9" friction="0.7"/>
  </joint>
  <joint name="gimbal2_roll" type="revolute">
    <limit effort="3.0" velocity="6.0" lower="-2.0" upper="2.0"/>
    <parent link="link2"/>
    <child link="gimbal2_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.2885 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>
  <joint name="gimbal2_pitch" type="revolute">
    <limit effort="3.0" velocity="6.0" lower="-2.0" upper="2.0"/>
    <parent link="gimbal2_roll_link"/>
    <child link="gimbal2_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>
  <joint name="rotor2" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="0.0" upper="40.0"/>
    <parent link="gimbal2_pitch_link"/>
    <child link="thrust2"/>
    <axis xyz=" 0.  0. -1."/>
    <origin xyz="0.0 0.0 0.026" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint3" type="revolute">
    <limit effort="12.0" velocity="10.0" lower="-1.57" upper="1.57"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="0.577 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <dynamics damping="0.9" friction="0.7"/>
  </joint>
  <material name="__unnamed_material_1">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_2">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_3">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_4">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_5">
    <color rgba="0.69803922 0.69803922 0.69803922 1.        "/>
  </material>
  <material name="__unnamed_material_6">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_7">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_8">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_9">
    <color rgba="0.69803922 0.69803922 0.69803922 1.        "/>
  </material>
  <material name="__unnamed_material_10">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
</robot>
